* {
    --spacing: 25px;
    --spacing-meno: 15px;
    --spacing-major: 50px;
    --padding-5px: 0px 5px;
    --text-tamaño: 18px;
    --background-color: #26282a;
    --background-color-body:#f2f2f2;
    --background-color-secundary: rgb(243, 243, 243);

}

:root {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Header */

header {
    background-color: #26282a;
}

/* HEADER PRINCIPAL */

header > section.cabecera_principal {
    display: flex;
    justify-content: space-between;
    padding: 0px 60px;
    align-items: center;
}

header > section > div.cabecera_icono > img{
    width: 120px;
    object-fit: cover;
}

header > section > div.cabecera_buscador {
    display: flex;
    width: 500px;
    align-items: center;
    border-radius: 20px;
    padding: 0 15px;
    background-color: var(--background-color-body);
}

header > section > div.cabecera_buscador > input {
    width: 100%;
    height: 40px;
    border-radius:20px;
    background-color: var(--background-color-body);
    border: var(--background-color-body);
    font-size: var(--text-tamaño);
    outline: none;
}

header > section > div.cabecera_buscador > img {
    width: 20px;
    object-fit: cover;
}

header > section > div.cabecera_buscador > input:hover {
    cursor: pointer;
}

header > section > div.cabecera_buscador > img:hover {
    cursor: pointer;
    transform: scale(1.2);
}

header > section > div.cabecera_sesion {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

header > section > div.cabecera_sesion > a > img {
    object-fit: cover;
    width: 30px;
}

header > section > div.cabecera_sesion > a > img:hover {
    cursor: pointer;
    transform: scale(1.2);
}

/* HEADER SECUNDARIO */

header.header_secundario {
    background-color: var(--background-color-secundary);
    margin: 2% 5%;
    padding: 2%;
}

header.header_secundario > section.cabecera_secundaria {
    background-color: var(--background-color-secundary);
    display: flex;
    align-items: center;
    justify-content: center;
}

header.header_secundario > section.cabecera_secundaria > div.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 40px;
}

header.header_secundario > section.cabecera_secundaria > div.hero > a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: var(--spacing-meno);
    text-align: center;
}

header.header_secundario > section.cabecera_secundaria > div.hero > a > p {
    color: black;
    text-transform: uppercase;
    font-weight: bolder;

}

header.header_secundario > section.cabecera_secundaria > div.hero > a > img {
    object-fit: cover;
    object-position: center;
    width: 35%;
}

header.header_secundario > section.cabecera_secundaria > div.hero > a:hover {
    transform:scale(1.2);
    transition: 0.5s;
}


/* Main */
/* Main filtros */

main > section.principal_filtros {
    display: flex;
    flex-direction: column;
    margin: 2%;
    background-color: var(--background-color-secundary);
    width: 10%;
    text-align: center;
    align-items: center;
}


main > section.principal_filtros > form.filtro_formulario {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items:start
}

main > section.principal_filtros > form.filtro_formulario > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60px;
    font-size: var(--text-tamaño);
}

main > section.principal_filtros > form.filtro_formulario > div > label {
    font-size: 20px;
    font-weight:bold;
}

main > section.principal_filtros > form.filtro_formulario > div > select {
    font-size: 14px;
    margin: 5%;
    width: 140px;
}



/* Footer */
footer {
    display:grid;
    grid-template-columns: repeat(2, minmax(auto, auto));
    gap: var(--spacing-major);
    background-color: var(--background-color);
    color: white;

}

footer > section.nav_footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
}

footer > section.nav_footer > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

footer > section.nav_footer > div > p {
    font-size: 18px;
    padding: 5% 0;
}

footer > section.nav_footer > div > ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 20px;
}

footer > section.nav_footer > div > ul > li{
    color: rgb(183, 179, 179);
    padding: 1% 0;
    font-size: 15px;
}

footer > section.nav_footer > div > ul > li:hover {
    color: var(--background-color-body);
    text-decoration: underline;
}


/* Footer redes sociales */

footer > section.footer_redsocial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer > section.footer_redsocial > ul > li {
    margin: 10px;
}

footer > section.footer_redsocial > ul > li:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.5s;
}

footer > section.footer_redsocial > ul > li > a > img {
    object-fit: cover;
    width: 50px;
}

footer > section.footer_redsocial > ul {
    display: flex;
    


}